<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museum Show Page</title>
</head>
<body>
    <h1>Museum Detail</h1>
    <h2><%= museum.title %></h2>
    <h2><%= museum.location %></h2>

    <footer>
        <form action="/museums/<%= museum._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        <a href="/museums/<%= museum._id%>/edit">Edit</a>
        <a href="/museums">All Museums</a>
    </footer>
</body>
</html>